* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.hide {
    display: none;
}

/*********** To main-section *************/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    margin-top: 70px;
    border: 2px solid white;
    width: 800px;
    margin-left: 300px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: -10px 10px 0px 0px white, 10px 10px 0px 0px white;
}

.set-timer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.NameOftimer {
    font-size: 20px;
}

#minutes,
#seconds {
    margin-left: 10px;

}

span {
    width: 30px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid white;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid rgb(255, 255, 255);
}

#set-button,
#Start-button,
#end-button,
#reset-button {
    border: none;
    padding: 9px;
    width: 80px;
    border-radius: 15px;
    background: yellow;
    border: 3px solid rgb(212, 117, 221);
    border-radius: 10px;
}
#set-button:hover{
    transform: rotate(90deg);

}

.Current-Time {
    margin-top: 30px;
}

.num {
    padding: 20px;
    border: none;
}
#Start-button,
#end-button,
#reset-button{
    margin: 20px;
}
#Start-button:hover,
#end-button:hover,
#reset-button:hover{
    background: rgb(187, 137, 194);
}

/* #hours::-webkit-scrollbar{
    display:none;
} */